.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardProp {
    height: 250px; 
    width: 300px;
}
.buttonProp {
    width: 100%
}

@media only screen and (max-width: 750px) {
    .cardProp {
        height: 250px;
        width: 80%
    }
}