<div class="wrapper">
    <div class="card card--material cardProp">
      <div class="card__title card--material__title">Login</div>
      <div class="card__content card--material__content">
          <span>
              <div><input style="width: 100%;" class="text-input text-input--material" placeholder="Username" type="text" [(ngModel)]="username" required></div>
              <br />
              <div><input style="width: 100%;" class="text-input text-input--material" placeholder="Password" type="password" [(ngModel)]="password"required></div>
            </span>
            <br>
            <br>
        <ons-button class="button--material button--outline buttonProp" (click)="login()">Login</ons-button>
      </div>
    </div>
  </div>