.wrapperChart {
    width: 100%;
}

.highcharts-container {
    width:90% !important;
    height:380px !important;
}
.cardProp {
    height: 400px;
}
.cardProp2 {
    height: 400px;
    width: 80%;
}

.wrapper2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.textProp1 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: grey;
}

.textProp2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: gray;
}

@media only screen and (max-width: 600px) {
   .cardProp2 {
        width: 100%;
    }
}