<ons-page>
  <ons-toolbar material>
    <div class="center">Dashboard</div>
    <div class="right">
      <ons-toolbar-button>
        <ons-button class="button button--outline" (click)="logout()">Logout</ons-button>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap">
    <div fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="100" class="wrapper2">
      <ons-card class="cardProp2 card--material">
        <div class="content">
            <mat-form-field>
                <mat-select placeholder="Select data to plot">
                  <mat-option *ngFor="let data of modifiers" [value]="data.value" (click)="displayChart1([data.value], [data?.label])">
                    {{ data.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <hr>
          <span class="textProp1">Principal Balance:</span><span>  </span><span class="textProp2">{{data?.waOriginalPrincipalBalance}}</span><br>
          <span class="textProp1">Total Income:</span><span>  </span><span class="textProp2">{{data?.waOriginalPrincipalBalance}}</span><br>
          <span class="textProp1">Indexed DTI:</span><span>  </span><span class="textProp2">{{data?.waIndexedDTI}}</span><br>
          <span class="textProp1">Indexed LTI:</span><span>  </span><span class="textProp2">{{data?.waIndexedLTI}}</span><br>
          <span class="textProp1">Indexed Total Income:</span><span>  </span><span class="textProp2">{{data?.waIndexedTotalIncome}}</span><br>
          <span class="textProp1">Current Interest Rate:</span><span>  </span><span class="textProp2">{{data?.waCurrentInterestRate}}</span><br>
          <span class="textProp1">Original Force Closure Value:</span><span>  </span><span class="textProp2">{{data?.waOriginalForeclosureValue}}</span><br>
        </div>
      </ons-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="100">
      <ons-card class="cardProp card--material">
        <div class="content">
          <div *ngIf="loadChart1" class="highcharts-container" [chart]="chart1"></div>
        </div>
      </ons-card>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="100">
      <ons-card class="cardProp card--material">
        <div class="content">
          <div *ngIf="loadChart2" class="highcharts-container" [chart]="chart2"></div>
        </div>
      </ons-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="100">
      <ons-card class="cardProp card--material">
        <div class="content">
          <div *ngIf="loadChart3" class="highcharts-container" [chart]="chart3"></div>
        </div>
      </ons-card>
    </div>
  </div>
</ons-page>